@{
    ViewBag.Title = "Home Page";
}
<link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br />
            <h2>Welcome to BugTracker</h2>
            <br />


            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager") || User.IsInRole("Submitter") || User.IsInRole("Developer"))
            {
                <h3>User: @ViewBag.UserName</h3>
                if (User.IsInRole("Admin"))
                {
                    <h4>Role: Admin <i class="fa fa-gavel"></i></h4>
                }
                else if (User.IsInRole("Developer"))
                {
                    <h4>Role: Developer <i class="fa fa-code"></i></h4>
                }
                else if (User.IsInRole("Project Manager"))
                {
                    <h4>Role: Project Manager <i class="fa fa-cogs"></i></h4>
                }
                else if (User.IsInRole("Submitter"))
                {
                    <h4>Role: Submitter <i class="fa fa-crosshairs"></i></h4>
                }
                <a href="@Url.Action("ProjectList")" role="button" class="btn btn-default">My Projects</a>
                <a href="@Url.Action("Index", "Tickets")" role="button" class="btn btn-danger">My Tickets</a>
            }
            else
            {
                <p>
                    <h4>You are not logged in.</h4>
                    <br />
                    <ul style="display:inline;">
                        <li style="display:inline;">
                            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                        </li>
                        <li style="display:inline;"> or </li>
                        <li style="display:inline;">
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                        </li>
                    </ul>
                </p>
            }


            <br />
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <a href="@Url.Action("Index", "Projects")" role="button" class="btn btn-primary">View All Projects</a>
                <a href="@Url.Action("Create", "Projects")" role="button" class="btn btn-info">Create New Project</a>
            }
            <br />
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Index", "Admin")" role="button" class="btn btn-success">View User Roles</a>
            }
            <br />
            @*@if (User.IsInRole("Submitter"))
                {
                    <a href="@Url.Action("Create", "Tickets")" role="button" class="btn btn-danger">Create Ticket</a>
                }*@
        </div>
    </div>
</div>

