@model IEnumerable<BugTracker.Models.Project>
@{
    ViewBag.Title = "ProjectList";
}

<h2>Project List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) |
                @Html.ActionLink("Details", "Details", "Projects", new { projectId = item.Id }, "")
                @{if (User.IsInRole("Submitter"))
                    {
                        @Html.ActionLink(" | Create Ticket", "Create", "Tickets", new { projectId = item.Id }, "")
                    }
                }
            </td>



            </tr>
    }
</table>

@{ if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
    {
        @Html.ActionLink("All Projects", "Index", "Projects")
    }
}