@model BugTracker.Models.UserRolesViewModel
   
@{
    ViewBag.Title = "ManageRoles";

}
<h2>Role Management</h2>

@using (Html.BeginForm("ManageRoles", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <hr />
    <h4>User Name: @Model.DisplayName</h4>
        
    <div class="row" style="margin-left: 5px">

    </div>
    <hr />
    <h4>Choose Role(s) To Be Assigned: </h4>
    @Html.ListBox("SelectedRoles", Model.UserRoles, new { style = "width: 150px"})
    <h6>
        <em>
            (To choose multiple roles "Control + click" )
        </em>
    </h6>

    <button class="btn btn-default" type="submit">Submit</button>
}
<hr />
<button class="btn btn-default">
    @Html.ActionLink("Back To List", "Index")
</button>