@model BugTracker.Models.ProjectUserViewModel
@{
    ViewBag.Title = "AssignUser";
}

<h2>Assign User</h2>

@using (Html.BeginForm("AssignUsers", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.Id)
    
    <hr />
    <h4>Project: @Model.Name</h4>

    <h4>Chose Users to Assign to this project</h4>

//    foreach (var user in Model.Users)
//    {
//        @user.FirstName  @user.LastName
//        <br />
//    }

    @Html.ListBox("SelectedUsers", Model.ProjectUsers, new { style = "width:200px; height:200px"})

    <br />
    <button class="btn btn-default" type="submit">
        Submit
    </button>
    <br />
    <div>
        <button class="btn btn-default">
            @Html.ActionLink("Back to Projects", "Index", "Projects")
        </button>
    </div>
}
